<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href="{% static 'css/estilo.css' %}" />
    <link rel = "stylesheet" type = "text/css" href="{% static 'css/icon.css' %}" />
    <script src="{% static 'js/menu.js' %}"></script>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link  rel = "icon"  type = "image / png"  tamaños = "32x32"  href = "{% static 'img/favicon-32x32.png' %}" >

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Inicio</title>
  </head>
  <body>
    <h1>{{titulo}}</h1>
    <div class="topnav" id="myTopnav">
      <a href="/" class="active"><span class = "icon-home"></span>INICIO</a>
      <a href="/clientes"><span class = "icon-users"></span>CLIENTES</a>
      <a href="/barberos"><span class = "icon-hipster"></span>BARBEROS</a>
      <a href="/tarifas"><span class = "icon-file-text"></span>TARIFAS</a>
      <a href="/citas"><span class = "icon-profile"></span>CITAS</a>
      <a href="/facturas"><span class = "icon-coin-dollar"></span>FACTURAS</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>